{% extends 'base.html' %}

{% block body %}


<div class="card m-3">
  <div class="card-body">
  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:10px">
    <h1 class="w3-xlarge w3-text-red"><b>Simulering av Stortingsvalg</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Denne nettsiden er et hobbyprosjekt der målet er å lære mer om statistiske metoder for simulering av norske Stortingsvalg og webutvikling. 
    Hovedformålet er å beregne et sannsynlig Storting, partienes størrelse, resultater per valgdistrikt og kandidat ut fra relativt grunnleggende 
    simuleringsmetoder. 
    Det tas forbehold metdode, inndata og bugs i programmeringen - resultatene er først og fremst et læringsverktøy, dernest et faktisk anslag på 
    "hva som vil skje".
    </p>

    <p>
    På siden finner du følgende

    <ul>
      <li> Hovedside: Resultater for landet under ett basert på siste prognose</li>
      <li> Nasjonale resulater: Resultater for landet under som tidsserier tilbake i tid (viser utviklingen) </li>
      <li> Fylkesvise resulater: Resultater for hvert enkelt fylke som tidsserier tilbake i tid (viser utviklingen), samt kandidater i fylket </li>
      <li> Metode: Beskrivelse av metode og forutsetninger </li>
    </ul>
    </p>

    <p>
    Det er et stort antall forutsetninger som må gjøres for å kunne lage anslag på sammensetningen av Stortinget. Resultatene vil 
    også variere en del etter hvilke forutsetninger man legger til grunn. Metodedelen forsøker å dokumentere så langt som mulig de valgene somg er gjort,
    men kvantifiserer ikke alle effekter. 
    </p>

    <p>
    Wedesignet er et template fra <a href="https://www.w3schools.com/w3css/w3css_templates.asp"> w3schools </a>
    </p>

    <p>
    Kildekoden til modellen finnes her <a href="https://github.com/Harhoy/valgmodell"> her </a>
    </p>

      <p>
    Kildekoden Stortingsfigurene finnes <a href="https://github.com/Harhoy/valgkart"> her </a>
    </p>
    <p>
    All kode har åpne MIT-lisenser.
    </p>

    

  </div>
  </div>
  </div>


<div class="card m-3">
  <div class="card-body">
  <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:10px">
    <h1 class="w3-xlarge w3-text-red"><b>Mest sannsylige Storting</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Her vises beregnet Stortingssammensetning på bakgrunn av ulike forutsetninger og metoder. 
    Satt litt på spissen vises dermed ulike "sannsylige Stortingssammensetninger". Det er imidlertid viktig å understreke
    at det ikke kvantifiseres noen usikkerhet i denne presentasjonen. Følgelig vises bare ett anslag, og man må derfor ikke se på verdiene som en "sannhet". </p>


      <div class="smallHeader"> Velg type prognose</div>
      <ul>
        <li>"Nasjonal" prognose benytter kun målinger på nasjonalt nivå. </li>
       <li>"Nasjonal & regional" prognose benytter  målinger på nasjonalt- og fylkesnivå.  </li>
      </ul>
      <button id="nasjonal-prognose" type="button" class="btn btn-secondary" >Nasjonal</button>
      <button id="regional-prognose" type="button" class="btn btn-secondary">Regional & Nasjonal</button>
      <p> </p>

  <h1 class="w3-xlarge w3-text-red"><b>Stortinget i figurer</b></h1>
  Resulatene viser ulike visualieringser av Stortingets sammensetning under forskjellige antagelser.
  <div class="card m-3">

    <div class="card-body margin-1">
    
       <h1 class="w3-large w3-text-red"><b>Stortinget inndelt i partier fra venstre til høyre</b></h1>
      <div id="canvasContainer" class="canvasContainer">
        <canvas id="partyCanvas"></canvas>
      </div>  
       <h1 class="w3-large w3-text-red"><b>Stortinget inndelt i hovedblokker</b></h1>
      <div id="canvasContainer" class="canvasContainer">
        <canvas id="hsCanvas"></canvas>
      </div>  

       <h1 class="w3-large w3-text-red"><b>Stortinget inndelt i dagens regjering (pluss støttepartier) og opposisjonen</b></h1>
      <div id="canvasContainer" class="canvasContainer">
        <canvas id="dagensCanvas"></canvas>
      </div>  
    
    </div>
  </div>

  <h1 class="w3-xlarge w3-text-red"><b>Tabellresultater</b></h1>
  Resulatene viser antall mandater totalt, samt distrikts- og utjevningsmandater under forutsetninger om prognose valgt ovenfor. 

  <div class="card m-3">
    <div class="card-body margin-1">
      <div class="table-responsive">
        <table class="table table-hover table-striped-stiped thead-dark text-center" id="partyTable">
        <tr>
          <th>Parti</th>
          <th>Mandater'</th>
          <th>Stemmeandel (%)</th>
        </tr>
        </table>
      </div>

    </div>
  </div>

    <div class="card m-3">
    
    <div class="card-body margin-1">
      <div class="smallHeader"> Sum mandater</div>
      <div class="table-responsive">
        <table class="table table-hover table-striped-stiped thead-dark text-center" id="fylkesTableTotalt">
        <tr>
          <th>Parti</th>
          <th>Mandater'</th>
          <th>Stemmeandel (%)</th>
        </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card m-3">
    <div class="card-body margin-1">
      <div class="smallHeader"> Direkte mandater</div>
      <div class="table-responsive">
        <table class="table table-hover table-striped-stiped thead-dark text-center text-center" id="fylkesTableDirekte">
        <tr>
          <th>Parti</th>
          <th>Mandater'</th>
          <th>Stemmeandel (%)</th>
        </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card m-3">
    <div class="card-body margin-1">
     <div class="smallHeader"> Utjevningsmandater</div>
      <div class="table-responsive">
        <table class="table table-hover table-striped-stiped thead-dark text-center" id="fylkesTableUtjevning">
        <tr>
          <th>Parti</th>
          <th>Mandater'</th>
          <th>Stemmeandel (%)</th>
        </tr>
        </table>
      </div>
    </div>
  </div>




    
  </div>
  </div>
</div>
  


<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/valgkart.js') }}"></script>
<script src="{{ url_for('static', filename='js/stortingsfigur.js') }}"></script>

{% endblock %}
