{% extends 'base.html' %}

{% block body %}

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

      <h1>Resultater per valgdistrikt</h1>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>

      <table class="table table-hover table-striped">
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td >Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      </table>

    </div>
</div>


{% endblock %}
