{% extends 'base.html' %}

{% block body %}

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

      <h1>Resultater per parti</h1>

      <h5 class="w3-padding-32">Beregnet oppsluttning nasjonalt basert på nasjonale målinger.
</h5>

      <p class="w3-text-grey">For detaljer, se "Om"-seksjonen.</p>

      <div class="w3-margin">
        <div id="partySharesDiv">
          <canvas id="partyShare" style="height:500px;width:100%;max-width:800px"></canvas>
        </div>
      </div>


  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">


      <h1>Resultater per koalisjon</h1>

      <h5 class="w3-padding-32">Gjennomsnittlig antall mandater per koliasjon i beregningene.</h5>

      <p class="w3-text-grey">Summen kan avvike fra 169 siden dette er gjennomsnittlige tall over alle simuleringer.</p>

      <div class="w3-margin">
        <div id="coalitionMandaterDiv">
          <canvas id="coalitionMandater" style="height:500px;width:100%;max-width:800px"></canvas>
        </div>
      </div>

      <h5 class="w3-padding-32">Sannsynliget for å vinne flertall</h5>

      <p class="w3-text-grey">Sannsynliget for å vinne minst 85 mandater</p>

      <div class="w3-margin">
        <div id="coalitionSannsynlighetDiv">
          <canvas id="coalitionSannsynlighet" style="height:500px;width:100%;max-width:800px"></canvas>
        </div>
      </div>


  </div>
</div>


<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">


      <h1>Sannsynliget for å komme over sperregrensen per parti</h1>

      <h5 class="w3-padding-32">Andel av simuleringene hvor partiet oppnår 4 % eller mer nasjonalt</h5>

      <div class="w3-margin">
        <div id="sperregrenseDiv">
          <canvas id="sperregrenseCanvas" style="height:500px;width:100%;max-width:800px"></canvas>
        </div>
      </div>


  </div>
</div>


<script src="{{ url_for('static', filename='js/partier.js') }}"></script>
{% endblock %}
